/* Reset and base styles  */
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited, a:hover {
  text-decoration: none;
}

/* Common */
h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: none;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}
input:focus::-moz-focus-inner, input:active::-moz-focus-inner,
button:focus::-moz-focus-inner, button:active::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

table {
  border-collapse: collapse;
}
table th, table td {
  border: none;
}

:root {
  --text-color: #1B1C21;
  --white-text: #FFFFFF;
  --header-list-text: #7E7E82;
  --section-title: #7E7E82;
  --price-table-title: #7E7E82;
  --footer-text: #7E7E82;
  --selected-text:#7E7E82;
  --form-text: #7E7E82;
  --input-placeholder: #B5B6BC;
  --ui-pink: #FF3E79;
  --ui-biruza: #D9FFF5;
  --ui-grey: #EAEAEA;
  --ui-aquamarine: #41F6D7;
  --white-background: #FFFFFF;
  --smoky-background: #F8F8F8;
  --font-main: "TTLakes", sans-serif;
}

@font-face {
  font-family: "TTLakes";
  font-display: swap;
  src: url("../fonts/TTLakes-Regular.ttf") format("ttf"), url("../fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TTLakes";
  font-display: swap;
  src: url("../fonts/TTLakes-Medium.ttf") format("ttf"), url("../fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TTLakes";
  font-display: swap;
  src: url("../fonts/TTLakes-Bold.ttf") format("ttf"), url("../fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
html, body {
  overflow-x: hidden;
  font-family: var(--font-main);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: var(--text-color);
  background-color: var(--smoky-background);
}
html a, body a {
  color: var(--text-color);
}

body {
  position: relative;
}
@media (min-width: 1440px) {
  body {
    display: flex;
  }
}
input::-moz-placeholder {
  color: var(--input-placeholder);
}
input::placeholder {
  color: var(--input-placeholder);
}

#main-part {
  position: relative;
}

.blur-overlay_active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-background);
  opacity: 0.96;
  z-index: 10;
}

.is--hidden {
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0;
  visibility: hidden;
}

.container {
  padding: 0 16px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0 32px 0 34px;
  }
}

.title {
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  font-weight: 700;
}

.subtitle {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
}

.gray-text {
  font-size: 14px;
  line-height: 16px;
  color: var(--section-title);
  mix-blend-mode: normal;
  opacity: 0.72;
  font-weight: 500;
}
.gray-text--banner {
  margin-bottom: 4px;
}

.header {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .header {
    margin-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .header {
    margin-bottom: 51px;
  }
}
.header__shadow {
  border: 1px solid var(--ui-biruza);
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .header__shadow {
    border: none;
    margin-bottom: 0;
    border-top: 1px solid var(--ui-biruza);
    height: 21px;
    background-color: var(--white-background);
  }
}
@media (min-width: 1440px) {
  .header__shadow {
    display: none;
  }
}
@media (min-width: 1440px) {
  .header__upper-menu {
    padding-top: 42px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
}
.header__title {
  position: relative;
  margin-bottom: 24px;
  display: flex;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.header__title::before {
  content: url("../img/icons/highlight.svg");
  position: absolute;
  top: 0;
  left: -15px;
}
@media (min-width: 768px) {
  .header__title::before {
    left: -23px;
  }
}
@media (min-width: 1440px) {
  .header__title::before {
    content: url("../img/icons/highlight-desktop.svg");
    left: -34px;
  }
}
@media (min-width: 768px) {
  .header__title {
    margin-bottom: 32px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (min-width: 1440px) {
  .header__title {
    margin-bottom: 0;
  }
}
.header__actions-group {
  display: none;
}
@media (min-width: 1440px) {
  .header__actions-group {
    display: flex;
    justify-content: right;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
}
.header__btn {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  font-weight: 500;
}

.sidebar {
  position: absolute;
  top: 0;
  left: -100%;
  width: 320px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}
@media (min-width: 1440px) {
  .sidebar {
    visibility: visible;
    opacity: 1;
    left: 0;
    padding: 30px 29px 30px 22px;
    position: static;
    background-color: var(--white-background);
  }
}
.sidebar_mobile {
  position: absolute;
  opacity: 1;
  visibility: visible;
  top: 0;
  left: 0;
  z-index: 11;
  width: 320px;
  padding: 19px 16px 32px 16px;
  background-color: var(--white-background);
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
}
@media (min-width: 768px) {
  .sidebar_mobile {
    padding: 19px 24px 32px 24px;
  }
}
.sidebar__header {
  margin-bottom: 37px;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  -moz-column-gap: 118px;
       column-gap: 118px;
  justify-content: space-between;
  align-items: center;
}
.sidebar__header--mobile {
  margin-bottom: 26px;
  -moz-column-gap: 94px;
       column-gap: 94px;
}
@media (min-width: 768px) {
  .sidebar__header--mobile {
    margin-bottom: 46px;
    -moz-column-gap: 74px;
         column-gap: 74px;
  }
}
.sidebar__header--mobile .sidebar__header--logo-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.sidebar__close-btn {
  background-image: url("../img/icons/close.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
@media (min-width: 1440px) {
  .sidebar__close-btn {
    display: none;
  }
}
.sidebar__search-btn {
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.sidebar__footer {
  display: flex;
  flex-direction: column;
}
.sidebar__email {
  margin-bottom: 12px;
  font-weight: 500;
}
.sidebar__tel {
  margin-bottom: 8px;
  text-wrap: nowrap;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .sidebar__tel {
    margin-bottom: 40px;
  }
}
@media (min-width: 1440px) {
  .sidebar__tel {
    margin-bottom: 41px;
  }
}
.sidebar__langs {
  display: flex;
  -moz-column-gap: 7px;
       column-gap: 7px;
  justify-content: start;
  align-items: end;
}
.sidebar__langs a {
  font-weight: 500;
}
.sidebar__langs a:hover {
  color: var(--selected-text);
}
.sidebar__actions-group {
  margin-bottom: 17px;
}

.main-menu__list {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
@media (min-width: 768px) {
  .main-menu__list {
    row-gap: 32px;
    margin-bottom: 268px;
  }
}
@media (min-width: 1440px) {
  .main-menu__list {
    margin-bottom: 241px;
    row-gap: 28px;
  }
}
.main-menu__item {
  position: relative;
  color: var(--text-color);
  font-weight: 500;
}
.main-menu__item:hover::before {
  content: url("../img/icons/highlight-mobile-menu.svg");
  position: absolute;
  top: 0;
  left: -15px;
}
@media (min-width: 768px) {
  .main-menu__item:hover::before {
    left: -23px;
  }
}
@media (min-width: 1440px) {
  .main-menu__item:hover {
    color: var(--selected-text);
  }
  .main-menu__item:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: -21.5px;
    width: 4px;
    height: 28px;
    border-radius: 2px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background: var(--ui-aquamarine);
  }
}
.main-menu__item--active::before {
  content: url("../img/icons/highlight-mobile-menu.svg");
  position: absolute;
  top: 0;
  left: -15px;
}
@media (min-width: 768px) {
  .main-menu__item--active:hover::before {
    left: -23px;
  }
}
@media (min-width: 1440px) {
  .main-menu__item--active {
    color: var(--selected-text);
  }
  .main-menu__item--active::before {
    content: "";
    position: absolute;
    top: 0;
    left: -21.6px;
    width: 4px;
    height: 28px;
    border-radius: 2px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background: var(--ui-aquamarine);
  }
}
.main-menu__link:hover {
  color: var(--selected-text);
}

.descriptive-content__list {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  gap: 8px 4px;
  padding: 2px 16px;
}
.descriptive-content__list::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
@media (min-width: 768px) {
  .descriptive-content__list {
    margin-bottom: 32px;
    padding: 2px 24px;
  }
}
@media (min-width: 1440px) {
  .descriptive-content__list {
    flex-wrap: wrap;
    padding: 2px 34px;
    margin-bottom: 16px;
  }
}
.descriptive-content__item {
  display: block;
  text-wrap: nowrap;
  padding: 8px 21px;
  font-weight: 500;
}
.descriptive-content__item--picked {
  background-color: var(--white-background);
  outline: 2px solid var(--ui-biruza);
  border-radius: 6px;
}
.descriptive-content__link {
  color: var(--header-list-text);
  height: 100%;
}
@media (min-width: 768px) {
  .descriptive-content__info-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    -moz-column-gap: 48px;
         column-gap: 48px;
    justify-content: space-between;
    align-items: start;
  }
}
@media (min-width: 1440px) {
  .descriptive-content__info-block {
    -moz-column-gap: 36px;
         column-gap: 36px;
  }
}
.descriptive-content__text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  justify-self: center;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .descriptive-content__text {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 10px;
  }
}
@media (min-width: 1440px) {
  .descriptive-content__text {
    margin-bottom: 14px;
  }
}
.descriptive-content__text--tablet {
  display: none;
}
@media (min-width: 768px) {
  .descriptive-content__text--tablet {
    display: block;
    margin-top: 27px;
  }
}
@media (min-width: 1440px) {
  .descriptive-content__text--tablet {
    display: none;
  }
}
.descriptive-content__text--desktop {
  display: none;
}
@media (min-width: 1440px) {
  .descriptive-content__text--desktop {
    display: block;
    margin: 24px 0 14px 0;
  }
}
.descriptive-content__text--desktop-clicked {
  display: block;
  margin-top: 24px;
  margin-bottom: 14px;
}
.descriptive-content__expansion-btn {
  position: relative;
  padding-left: 32px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
}
.descriptive-content__expansion-btn::before {
  content: "";
  background-image: url("../img/icons/expand.svg");
  background-repeat: no-repeat;
  background-position: left center;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  transition: transform 0.2s ease-in-out;
}
.descriptive-content__expansion-btn.up::before {
  transform: rotate(180deg);
}
@media (min-width: 768px) {
  .descriptive-content__expansion-btn {
    padding-left: 33px;
    grid-column: 1;
    grid-row: 1;
    align-self: flex-end;
  }
}
@media (min-width: 1440px) {
  .descriptive-content__expansion-btn {
    padding-left: 31px;
  }
}
.descriptive-content__img {
  display: block;
  margin: 0 auto;
  aspect-ratio: 532/307;
}
@media (min-width: 768px) {
  .descriptive-content__img {
    grid-column: 2;
    grid-row: 1;
  }
}
@media (min-width: 1440px) {
  .descriptive-content__img {
    justify-self: end;
  }
}

.actions-group {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  justify-content: start;
  align-items: center;
}
.actions-group__call-btn {
  background-image: url("../img/icons/call.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.actions-group__feedback-btn {
  background-image: url("../img/icons/chat.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.actions-group__profile-btn {
  background-image: url("../img/icons/profile.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.nav {
  padding: 19px 16px;
  background-color: var(--white-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (min-width: 768px) {
  .nav {
    padding: 19px 24px;
  }
}
@media (min-width: 1440px) {
  .nav {
    display: none;
  }
}
.nav__left-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media (min-width: 768px) {
  .nav__left-section {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.nav__left-section--divider {
  display: none;
}
@media (min-width: 768px) {
  .nav__left-section--divider {
    display: block;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: var(--ui-grey);
  }
}
@media (min-width: 1440px) {
  .nav__left-section--divider {
    display: none;
  }
}
.nav_divider {
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background-color: var(--ui-grey);
}
@media (min-width: 768px) {
  .nav_divider {
    display: none;
  }
}
.nav__right-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.nav__right-section--divider {
  display: none;
}
@media (min-width: 768px) {
  .nav__right-section--divider {
    display: block;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: var(--ui-grey);
  }
}
@media (min-width: 1440px) {
  .nav__right-section--divider {
    display: none;
  }
}
.nav__actions-group {
  display: none;
}
@media (min-width: 768px) {
  .nav__actions-group {
    display: flex;
  }
}
.nav__actions-group--last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.nav__burger-menu {
  background-image: url("../img/icons/burger.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.nav__repair-btn {
  background-image: url("../img/icons/repair.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.nav__checkstatus-btn {
  background-image: url("../img/icons/checkstatus.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.modal-window {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 12;
  width: 320px;
  padding: 24px 16px 75px 16px;
  background-color: var(--white-background);
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  transition: all 0.4s ease-in-out;
}
@media (min-width: 1440px) {
  .modal-window {
    width: 440px;
    padding: 40px 32px 75px 32px;
    border-left: 1px solid #D9FFF5;
  }
}
.modal-window__nav {
  margin-bottom: 40px;
}
@media (min-width: 1440px) {
  .modal-window__nav {
    margin-bottom: 0;
  }
}
.modal-window__close-btn {
  background-image: url("../img/icons/close.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
@media (min-width: 1440px) {
  .modal-window__close-btn {
    position: absolute;
    top: 32px;
    left: -73px;
  }
}
.modal-window__form fieldset {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.modal-window__title {
  position: relative;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight: 700;
  margin-bottom: 24px;
}
.modal-window__title::before {
  content: url("../img/icons/highlight.svg");
  position: absolute;
  top: -6px;
  left: -16px;
}
@media (min-width: 1440px) {
  .modal-window__title::before {
    content: url("../img/icons/highlight-desktop.svg");
    left: -33px;
  }
}
@media (min-width: 1440px) {
  .modal-window__title {
    top: 0;
  }
}
.modal-window__input {
  width: 288px;
  height: 48px;
  padding: 12px 16px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  font-weight: 500;
}
@media (min-width: 1440px) {
  .modal-window__input {
    width: 376px;
  }
}
.modal-window__input--big {
  height: 118px;
  resize: none;
}
.modal-window__input--big::-moz-placeholder {
  position: absolute;
  top: 12px;
  left: 16px;
}
.modal-window__input--big::placeholder {
  position: absolute;
  top: 12px;
  left: 16px;
}
.modal-window__agreement {
  margin-bottom: 3px;
  width: 288px;
  font-size: 14px;
  line-height: 16px;
  color: var(--form-text);
  font-weight: 500;
}
.modal-window__agreement--accent {
  color: var(--ui-pink);
}
@media (min-width: 1440px) {
  .modal-window__agreement {
    width: 376px;
  }
}
.modal-window__submit-button {
  background-image: url("../img/icons/dropdown.svg");
  background-repeat: no-repeat;
  background-position: 113px center;
  width: 136px;
  height: 32px;
  border-radius: 16px;
  background-color: var(--ui-pink);
  padding: 4px 37px 4px 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--white-text);
}

.section-content {
  margin-bottom: 16px;
  padding: 16px;
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
@media (min-width: 768px) {
  .section-content {
    border-top: 1px solid var(--ui-biruza);
    padding: 16px 24px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1440px) {
  .section-content {
    padding: 16px 32px;
  }
}
@media (min-width: 768px) {
  .section-content_big-margin {
    margin-bottom: 31px;
  }
}
.section-content__title {
  text-transform: uppercase;
  color: var(--section-title);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.collection {
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  -moz-column-gap: 16px;
       column-gap: 16px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.collection::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
@media (min-width: 768px) {
  .collection {
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 24px;
    margin-bottom: 24px;
  }
}
@media (min-width: 1440px) {
  .collection {
    gap: 16px 32px;
  }
}
.collection__banner {
  width: 240px;
  height: 72px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-background);
  border: 1px solid #EAEAEA;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .collection__banner {
    width: 224px;
  }
}
@media (min-width: 1440px) {
  .collection__banner {
    width: 240px;
  }
}

.equipment-brands__slider img {
  display: block;
  margin: 0 auto 24px;
}
@media (min-width: 768px) {
  .equipment-brands__slider {
    display: none;
  }
}

.types-equipment__banner {
  height: 160px;
  flex-direction: column;
  align-items: start;
}
.types-equipment__banner--btn {
  align-self: flex-end;
}
.types-equipment__slider img {
  display: block;
  margin: 0 auto 24px;
}
@media (min-width: 768px) {
  .types-equipment__slider {
    display: none;
  }
}

.prices-services {
  margin-bottom: 40px;
}
.prices-services__collection {
  margin-bottom: 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  gap: 16px;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.prices-services__collection::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}
@media (min-width: 768px) {
  .prices-services__collection {
    display: none;
  }
}
.prices-services__banner {
  width: 260px;
  height: 200px;
  padding: 16px;
  border-radius: 6px;
  background-color: var(--white-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16px;
}
.prices-services__banner--last-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  -moz-column-gap: 28px;
       column-gap: 28px;
}
.prices-services__main-text {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  font-weight: 400;
}
.prices-services__term p {
  display: block;
  text-wrap: nowrap;
}
.prices-services__button-order {
  width: 119px;
  height: 32px;
  padding: 4px 40px 4px 12px;
  display: flex;
  align-items: center;
  background-color: var(--ui-pink);
  border-radius: 16px;
  background-image: url("../img/icons/dropdown.svg");
  background-repeat: no-repeat;
  background-position: 97px center;
  color: var(--white-text);
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
}
.prices-services__slider {
  margin-bottom: 16px;
}
.prices-services__slider img {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .prices-services__slider {
    display: none;
  }
}
.prices-services__text-warning {
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
@media (min-width: 768px) {
  .prices-services__text-warning {
    width: 421px;
  }
}
.prices-services__btn {
  text-align: left;
}
.prices-services__btn img {
  margin-left: 9px;
  margin-top: 6px;
}
.prices-services__table {
  display: none;
}
@media (min-width: 768px) {
  .prices-services__table {
    display: table;
    width: 100%;
    margin-bottom: 24px;
    border: none;
  }
}
.prices-services__head-row th {
  padding-bottom: 16px;
  text-align: left;
}
.prices-services__head-row th:first-child {
  padding-left: 12px;
}
.prices-services__body {
  background-color: var(--white-background);
}
.prices-services__body tr:first-child th:first-child {
  border-radius: 6px 0 0 0;
}
.prices-services__body tr:first-child td:last-child {
  border-radius: 0 6px 0 0;
}
.prices-services__body tr:last-child td:last-child {
  border-radius: 0 0 6px 0;
}
.prices-services__body tr:last-child th:first-child {
  border-radius: 0 0 0 6px;
}
.prices-services__body--row {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-align: left;
}
.prices-services__body--row th {
  padding: 23px 24px 23px 12px;
  font-weight: 400;
}
.prices-services__body--row td:not(:last-child) {
  padding: 23px 24px 23px 0;
}
.prices-services__body--row button {
  margin-left: auto;
  margin-right: 24px;
}
.prices-services__body--row:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  width: 96%;
  height: 1px;
  background-color: var(--ui-grey);
}

.footer__wrapper {
  padding: 16px 4px 19px 4px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__wrapper {
    padding: 32px 33px 21px 31px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    text-align: left;
    row-gap: 0;
    -moz-column-gap: 32px;
         column-gap: 32px;
    border-top: 1px solid var(--ui-biruza);
  }
  .footer__wrapper h4 {
    flex: 1;
  }
  .footer__wrapper h4:last-child {
    flex: 0 0 213px;
    text-align: right;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .footer__wrapper h4:last-child {
    flex: 0 0 330px;
  }
}

.btn_show-more {
  display: none;
  font-weight: 500;
  background-image: url("../img/icons/expand.svg");
  background-repeat: no-repeat;
  background-position: left center;
}
@media (min-width: 768px) {
  .btn_show-more {
    display: block;
    padding-left: 32px;
    margin-bottom: 32px;
  }
}
@media (min-width: 1440px) {
  .btn_show-more {
    padding-left: 31px;
    margin-bottom: 50px;
  }
}
.btn_open-more {
  width: 40px;
  height: 40px;
  background-image: url("../img/icons/go.svg");
  background-repeat: no-repeat;
}