.btn-show-more {
    display: none;



    font-weight: 500;

    @include tablet() {
        display: flex;
        align-items: center;
        justify-content: start;
        column-gap: 7px;
        margin-bottom: 32px;
    }

    @include desktop() {
        margin-bottom: 50px;
    }
}