.header-info-block {
    @include tablet() {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 48px;
        justify-content: space-between;
        align-items: start;

    }

    @include desktop() {
        column-gap: 36px;
    }
}

.header-info-block__text {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;

    @include tablet() {
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 10px;
    }

    @include desktop() {
        margin-bottom: 14px;
    }


    &_tablet {
        display: none;

        @include tablet() {
            display: block;
            margin-top: 27px;
        }

        @include desktop() {
            display: none;
        }
    }

    &_desktop {
        display: none;

        @include desktop() {
            display: block;
            margin: 24px 0 14px 0;
        }
    }

}

.header-info-block__text_desktop_clicked {
    display: block;
    margin-top: 24px;
    margin-bottom: 14px;
}
