.header {
    margin-bottom: 24px;

    @include tablet() {
        margin-bottom: 32px;
    }

    @include desktop() {
        margin-bottom: 51px;
    }

    //Decoration
    &__shadow {
        border: 1px solid var(--ui-biruza);
        margin-bottom: 24px;
    
        @include tablet() {
            border: none;
            margin-bottom: 0;
            border-top: 1px solid var(--ui-biruza);
            height: 21px;
            background-color: var(--white-background);
        }
    
        @include desktop() {
            display: none;
        }
    }

    //Appearance of a desktop version
    &__upper-menu {

        @include desktop() {
            padding-top: 42px;
            margin-bottom: 8px;
            display: flex;
            justify-content: space-between;
            align-items: end;
        }
    }

    &__title {
        position: relative;
        margin-bottom: 24px;
        display: flex;
        justify-content: start;
        align-items: center;
        column-gap: 12px;
    
        &::before {
            content: url("../img/icons/highlight.svg");
            position: absolute;
            top: 0;
            left: -15px;
    
            @include tablet() {
                left: -23px;
            }
    
            @include desktop() {
                content: url("../img/icons/highlight-desktop.svg");
                left: -34px;
            }
        }
    
        @include tablet() {
            margin-bottom: 32px;
            column-gap: 20px;
        }
    
        @include desktop() {
            margin-bottom: 0;
        }
    
    }


    &__actions-group {
        display: none;

        @include desktop() {
            display: flex;
            justify-content: right;
            column-gap: 32px;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        column-gap: 8px;
        font-weight: 500;
    }

}

