.header {
    margin-bottom: 24px;

    @include tablet() {
        margin-bottom: 32px;
    }

    @include desktop() {
        margin-bottom: 51px;
    }

    &_desktop-version {
        display: none;
        
        @include desktop() {
            padding: 42px 30px 0 0;
            margin-bottom: 8px;
            display: flex;
            justify-content: space-between;
            align-items: end;
        }
    }
}

.header__shadow {
    border: 1px solid var(--ui-biruza);
    margin-bottom: 24px;

    @include tablet() {
        border: none;
        margin-bottom: 0;
        border-top: 1px solid var(--ui-biruza);
        height: 21px;
        background-color: var(--white-background);
    }

    @include desktop() {
        display: none;
    }
}

.header__title {
    margin-bottom: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 12px;

    @include tablet() {
        margin-bottom: 32px;
        column-gap: 20px;
    }

    @include desktop() {
        display: none;
    }

    &_desktop {
        display: flex;
        justify-content: start;
        align-items: end;
        column-gap: 30px;
    }
}

.header__img {
    background-image: url("../img/header.jpg");
    background-image: -webkit-image-set(
        url("../img/header.jpg") 1x,
        url("../img/header@2x.jpg") 2x
    ); 
    background-image: -moz-image-set(
        url("../img/header.jpg") 1x,
        url("../img/header@2x.jpg") 2x
    ); 
    background-image: -ms-image-set(
        url("../img/header.jpg") 1x,
        url("../img/header@2x.jpg") 2x
    ); 
    background-image: -o-image-set(
        url("../img/header.jpg") 1x,
        url("../img/header@2x.jpg") 2x
    ); 
    background-image: image-set(
        url("../img/header.jpg") 1x,
        url("../img/header@2x.jpg") 2x
    ); 
    aspect-ratio: 532 / 307;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include tablet() {
        display: none;
    }

    &-tablet {
        display: none;
        @include tablet() {
            display: block;
            background-image: url("../img/header.jpg");
            background-image: -webkit-image-set(
                url("../img/header.jpg") 1x,
                url("../img/header@2x.jpg") 2x
            ); 
            background-image: -moz-image-set(
                url("../img/header.jpg") 1x,
                url("../img/header@2x.jpg") 2x
            ); 
            background-image: -ms-image-set(
                url("../img/header.jpg") 1x,
                url("../img/header@2x.jpg") 2x
            ); 
            background-image: -o-image-set(
                url("../img/header.jpg") 1x,
                url("../img/header@2x.jpg") 2x
            ); 
            background-image: image-set(
                url("../img/header.jpg") 1x,
                url("../img/header@2x.jpg") 2x
            ); 
            aspect-ratio: 532 / 307;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 6px;

            grid-column: 2;
            grid-row: 1;
        }

        @include desktop() {
            width: 531px;
            justify-self: end;
        }

    }

}


.header__expansion-btn {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    column-gap: 8px;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight: 500;

    @include tablet() {
        grid-column: 1;
        grid-row: 1;
        align-self: flex-end;
    }
}

