.header-list {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;    

    @include tablet() {
        margin-bottom: 32px;
    }

    @include desktop() {
        gap: 8px 10px;
        flex-wrap: wrap;
        margin-bottom: 16px;
    }
}

.header-list__item {
    &_picked {
        background-color: var(--white-background);
        outline: 2px solid var(--ui-biruza);
        border-radius: 6px;
    }
}


.header-list__link {
    display: block;
    text-wrap: nowrap;
    padding: 8px 16px;
    font-weight: 500;

    color: var(--header-list-text);
}