.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    max-width: 320px;
    height: 100%;
    padding: 24px 16px 32px 16px;

    background-color: var(--white-background);
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);

    @include tablet() {
        padding: 24px 24px 32px 24px;
    }
}


