.nav-tablet {
    display: none;

    @include tablet() {
        padding: 19px 24px;

        background-color: var(--white-background);
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 16px;


        &__left-section {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 20px;
        }

        &__right-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 16px;
        }
    
    }

    @include desktop() {
        display: none;
    } 
}
