.nav-divider {
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: var(--ui-grey);

    @include tablet() {
        display: none;
    }

    &-tablet {
        display: none;

        @include tablet() {
            display: block;

			&_right {
				margin: 0 4px
			}
        }
    }
}