.prices-services-table {
    display: none; 

    @include tablet() {
        display: table;
        width: 100%;
        margin-bottom: 24px;
        border: none;
    }
}

.prices-services-table__body {
    background-color: var(--white-background);

    tr:first-child th:first-child {
        border-radius: 6px 0 0 0;
    }

    tr:first-child td:last-child {
        border-radius: 0  6px 0 0;
    }

    tr:last-child td:last-child {
        border-radius: 0 0 6px 0;
    }

    tr:last-child th:first-child {
        border-radius: 0 0 0 6px;
    }
}

.prices-services-table__head-row {
    th {
        padding-bottom: 16px;
        text-align: left;

        &:first-child {
            padding-left: 12px;
        }
    }
}

.prices-services-table__body-row {
    position: relative;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: left;
        th {
            padding: 23px 24px 23px 12px;
            font-weight: 400;
        }

        td:not(:last-child) {
            padding: 23px 24px 23px 0;
        }

        button {
            margin-left: auto; 
            margin-right: 24px;
        }

        &:not(:last-child)::after {
            content: ""; 
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            bottom: 0; 
            width: 96%;
            height: 1px; 
            background-color: var(--ui-grey); 
        }
}

