.sidebar-footer {
    display: flex;
    flex-direction: column;
}

.sidebar-footer__contacts-btns {
    margin-bottom: 17px;

    display: flex;
    column-gap: 16px;
    justify-content: start;
    align-items: end;
}

.sidebar-footer__mailto {
    margin-bottom: 12px;

    font-weight: 500;
}

.sidebar-footer__tel {
    margin-bottom: 41px;

    text-wrap: nowrap;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: 700;

    &.mobile-menu__footer-tel {
        margin-bottom: 8px;

        @include tablet() {
            margin-bottom: 40px;
        }
    }
}

.sidebar-footer__line-languages {
    display: flex;
    column-gap: 7px;
    justify-content: start;
    align-items: end;

    a {
        font-weight: 500;

    }

    a:hover {
        color: var(--selected-text);
    }
}